<h1>Editing Book</h1>
  
<%= form_with model:@book, local:true do |f| %>

 <% if @book.errors.any? %>
   <h3><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h3>
    <ul>
     <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
     <% end %>
    </ul>
 <% end %>
  <%= form_with model:@book do |f| %>
   <p>Title</p>
   <%= f.text_field :title %>
   <p>Opinion</p>
   <%= f.text_area :body %>
   <div>
   <%= f.submit 'Update Book' %>
   </div>
 <% end %>
<% end %> 

<p><%= link_to "Show", book_path(@book) %>
 <sapn>|</sapn>
<%=link_to "Back", books_path %></p>